# Virtual environment
.venv/
venv/
env/

# PyCharm files
.idea/

# Compiled files
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs or models (optional)
*.log
models/
data/processed/

# Ignore Raw EEG Data
data/
raw/